<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/board.css">

</head>
<body ng-app="warmUpApp">
<!-- MAIN CONTENT -->
<div class="container" ng-controller="NavBarCtrl">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a ui-sref="pathFinder" onclick="closeNav()">PathFinderMain</a>
        <a ui-sref="settings" onclick="closeNav()">Setting</a>
        <a href="#" onclick="closeNav();" ng-click="setChoisingStartPoint()">Choice Start Point</a>
        <a href="#" onclick="closeNav()" ng-click="setChoisingEndPoint()">Choice End Point</a>
        <a href="#" onclick="closeNav()" ng-click="goPressed()">GO</a>
    </div>


    <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
    <div ui-view></div>

</div>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/controllers/pathFinderCtrl.js"></script>
<script src="scripts/controllers/settingsCtrl.js"></script>
<script src="scripts/services/optionsService.js"></script>
<script src="scripts/services/utils.js"></script>
<script src="scripts/controllers/navBarCtrl.js"></script>
<script src="scripts/services/navBarServise.js"></script>
<script src="scripts/sideBar.js"></script>
</body>
</html>
