<div>
    Path Finder Main
    <!-- Use any element to open the sidenav -->
    <button onclick="openNav()">openSideBar</button>


    <div class="board-container" style="background-color:blue" ng-repeat="(key,row) in board track by $index">
        <div class="board-row" ng-repeat="cell in row">
            <div class="board-cell"
                 style="background-color: {{cell.color}}"
                 ng-click="swapColor(cell.color,cell.x,cell.y)">{{cell.x + '-' +cell.y + '-' + cell.color}}</div>
        </div>
    </div>
</div>
